a {
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
ul {
  list-style: none;
}
button {
  border: none;
}

body {
  padding-top: 70px;
}
.header {
  padding: 16px 0;
  box-shadow: 4px 4px 10px #0001;
  position: fixed;
  background: #fff;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    .logo {
      font-family: sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: left;
      color: #000;
    }
    ul {
      display: flex;
      gap: 30px;
      li {
        position: relative;
        .link {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          color: #000;
          transition: all 0.3s linear;
          border-bottom: 1px solid #fff;
        }
        svg {
          color: #000;
        }
        .active {
          color: #ce9178;
        }
        .count {
          position: absolute;
          font-size: 10px;
          width: 13px;
          height: 13px;
          border-radius: 100%;
          background: #000;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -2px;
          right: -2px;
        }
      }
    }
    .component {
      display: flex;
      gap: 30px;
      align-items: center;
      flex: 1;
      position: relative;
      z-index: 20;
      .search__items {
        width: 100%;
        position: absolute;
        background: #fff;
        top: 100%;
        max-height: 400px;
        z-index: 20;
        padding: 20px;
        border-radius: 3px;
        box-shadow: 4px 4px 10px #0002;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        .serch__item {
          display: flex;
          gap: 10px;
          align-items: center;
          padding: 10px 0;
        }
      }

      form {
        display: flex;
        position: relative;
        flex: 1;
        input {
          padding: 10px 50px 10px 20px;
          flex: 1;
          height: 38px;
          border: none;
          border-radius: 4px;
          background: #f5f5f5;
        }
        button {
          position: absolute;
          right: 12px;
          cursor: pointer;
          background: transparent;
          top: 5px;
          .search {
            font-size: 24px;
          }
        }
      }
    }
    .heart {
      font-size: 24px;
      cursor: pointer;
    }
  }
  .serach__outline {
    width: 100%;
    height: 100vh;
    background: #0006;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 19;
  }
  .menu {
    display: none;
  }
  @media screen and (max-width: 800px) {
    box-shadow: 0 0 0;
    .nav__link {
      position: fixed;
      top: 94px;
      left: 0;
      right: 0;
      padding: 30px;
      width: 100%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform-origin: top;
      transform: scaleY(0);
      transition: 0.3s;
    }
    .nav__link.show {
      transform: scaleY(1);
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 4px;
      cursor: pointer;
    }
    .menu__item {
      width: 25px;
      height: 2.7px;
      background: #000;
      border-radius: 2px;
      transition: 0.2s;
    }
    .menu.show {
      .menu__item:nth-child(1) {
        transform: translate(0, 6.3px) rotate(45deg);
      }
      .menu__item:nth-child(2) {
        opacity: 0;
      }
      .menu__item:nth-child(3) {
        transform: translate(0, -6.3px) rotate(-45deg);
      }
    }
    .menu__open {
      transform: scaleY(1) !important;
    }
    .component {
      position: fixed !important;
      top: 56px;
      left: 0;
      right: 0;
      width: 100%;
      background: #fff;
      padding: 0 10px 10px;
      z-index: 100;
      .search__items {
        border-radius: 0px !important;
        margin-left: -10px;
      }
    }
    .serach__outline {
      top: 90px;
    }
  }
}
.hero {
  padding: 40px 0;
  font-family: sans-serif;
  .hero__content {
    width: 100% !important;
    height: 344px;
    background: #000;
    position: relative;

    .bg {
      position: absolute;
      left: calc(50% - 246px);
      z-index: 1;
      top: 10px;
    }
    .text {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 20px;
      bottom: 47px;
      left: 64px;
      color: #fff;
      max-width: 300px;

      span {
        display: flex;
        gap: 20px;
        align-items: center;
        h4 {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
        }
        .apple__icon {
          font-size: 50px;
        }
        a {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: center;
          color: #fff;
          text-decoration: underline;
        }
      }
      h1 {
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: 0.04em;
        text-align: left;
      }
    }
  }
  @media screen and (max-width: 560px) {
    .hero__content {
      background: transparent;
    }
    .hero__content .bg {
      max-width: 500px;
    }
  }
}

.products {
  .title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 60px;
    .circle {
      width: 20px;
      height: 40px;
      border-radius: 4px;
      background: #db4444;
    }
    h5 {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      color: #db4444;
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 60px;
    .card {
      width: 270px;
      cursor: pointer;
      transition: all 0.2s linear;
      padding-bottom: 10px;
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        width: 100%;
        height: 250px;
        border-radius: 4px;
        padding: 14px;
        position: relative;
        overflow: hidden;
        .card__btn {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          padding: 9px 0;
          background: #000;
          color: #fff;
          cursor: pointer;
          z-index: 10;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: center;
          transform-origin: bottom;
          transform: scaleY(0);
          transition: all 0.2s linear;
        }
        .circle {
          width: 34px;
          height: 34px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          position: absolute;
          right: 12px;
          z-index: 10;
          top: 12px;
          .heart {
            font-size: 18px;
          }
          .eye {
            font-size: 18px;
          }
          &:active {
            opacity: 0.7;
          }
        }
        .eye1 {
          top: 60px;
        }
        img {
          width: 100%;
          height: 220px !important;
          object-fit: contain;
          height: auto;
          transition: 0.3s;
        }
        @keyframes image {
          to {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
      &:hover {
        .image {
          img {
            transform: scale(1.04);
          }
          .card__btn {
            transform: scaleY(1);
            transition: 0.3s;
            &:hover {
              background: #1d1c1c;
            }
            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
      &:hover {
        box-shadow: 4px 4px 10px #0002;
      }
      h5 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        margin: 16px 6px 10px;
      }
      span {
        display: flex;
        align-items: center;
        gap: 8px;
        margin: 0 6px;
        h6 {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          color: #db4444;
        }
        p {
          font-size: 14px;
          font-weight: 600;
          line-height: 21px;
          text-align: left;
          color: #808080;
        }
      }
    }
  }
  .btn {
    width: 140px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background: #db4444;
    color: #fff;
    border-radius: 4px;
    display: block;
    margin: 60px auto;
    cursor: pointer;
    transition: 0.3s;
    &:active {
      transform: scale(0.95);
    }
  }
}

.single__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 40px auto;
  .images {
    display: flex;
    align-items: center;
    gap: 20px;
    .images__item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      img {
        width: 140px;
        padding: 5px;
        height: 120px;
        object-fit: contain;
        box-shadow: 2px 2px 10px #0002;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s;
        background: #fff;
        &:hover {
          transform: scale(1.07);
        }
      }
    }

    .pro__img {
      width: 600px;
      height: 500px;
      object-fit: contain;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 4px 4px 14px #0002;
      background: #fff;
      transform: scale(0.5);
      opacity: 0;
      animation: image 0.3s ease-in 0s forwards;
    }

    @keyframes image {
      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
.product__card__about {
  max-width: 500px;
  width: 100%;
  font-family: sans-serif;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  .product__title {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 700;
  }
  .product__share {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    .prodacts_box_card_rating {
      display: flex;
      align-items: center;
      gap: 30px;
      color: #008dff;
      font-weight: 600;
      font-size: 17px;
    }
    span {
      display: flex;
      align-items: center;
      gap: 10px;
      h6 {
        font-size: 15px;
        color: #008dff;
      }
    }
  }
  .price {
    color: #d9663b;
    margin-top: 4px;
    font-size: 18px;
  }
  .product__count {
    padding: 4px 10px;
    border: 1px solid #fe7300;
    color: #fe7300;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    margin: 10px 0 8px;
  }
  .product__description {
    font-size: 14px;
    line-height: 20px;
  }
  .product__categories {
    color: #008dff;
    margin-top: 10px;
  }
}
@media (max-width: 1200px) {
  .single__page {
    flex-direction: column;
  }
}
@media (max-width: 830px) {
  .single__page .images {
    flex-direction: column-reverse;
    .images__item {
      flex-direction: row;
    }
  }
}
@media (max-width: 660px) {
  .single__page .images {
    flex-direction: column-reverse;
    .pro__img {
      width: 80%;
      object-fit: contain;
      height: auto;
    }
    .images__item {
      flex-direction: row;
      img {
        width: 100px;
        height: 80px;
        padding: 10px;
      }
    }
  }
}
@media (max-width: 480px) {
  .single__page .images {
    flex-direction: column-reverse;
    .pro__img {
      width: 80%;
      height: auto;
      padding: 10px;
    }
    .images__item {
      flex-direction: row;
      img {
        width: 80px;
        height: 60px;
        padding: 10px;
      }
    }
  }
  .product__card__about .product__share {
    flex-direction: column;
    align-items: flex-start;
  }
  .product__card__about {
    padding: 14px;
  }
}

.cart {
  font-family: sans-serif !important;
  padding: 30px 0;
  .pro {
    margin-top: 30px;
  }
  .url {
    margin-top: 36px;
    a {
      text-decoration: none;
      font-size: 15px;
      font-weight: 700;
      line-height: 16px;
      text-align: left;
      color: #3d3d3d;
    }
  }
  .cart__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 50px 0;
    table {
      th {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        color: #3d3d3d;
      }
      tr {
        width: 780px !important;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 0.2fr;
        align-items: start;
        gap: 6px;
        padding-left: 10px;
        padding-right: 10px;
        th {
          text-align: start;
        }
      }
      .cart__item {
        margin-bottom: 10px;
        background: #fbfbfb;
        place-items: center start;
        td {
          display: flex;
          align-items: center;
          gap: 14px;
          img {
            width: 70px;
            height: 70px;
            object-fit: contain;
          }
          h4 {
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            text-align: left;
            color: #3d3d3d;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
        .price {
          font-size: 16px;
          font-weight: 600;
          line-height: 16px;
          text-align: left;
          color: #727272;
        }
        .qny {
          display: flex;
          align-items: center;
          gap: 12px;
          button {
            width: 21px;
            height: 21px;
            font-size: 20px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 50%;
            background: #46a358;
            color: #fff;
            cursor: pointer;
            transition: 0.3s;
            &:active {
              transform: scale(0.9);
            }
            &:disabled {
              opacity: 0.5;
              cursor: no-drop;
            }
            &:disabled:active {
              transform: scale(1);
            }
          }
        }
        .delete {
          background: transparent;
          border: none;
          cursor: pointer;
          svg {
            font-size: 20px;
            color: #727272;
          }
        }
      }
      tr:nth-child(2) {
        border-top: 1px solid #46a358;
        padding-top: 11px;
        margin-top: 11px;
      }
      .total {
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        text-align: left;
        color: #46a358;
      }
    }
    .cart__total {
      max-width: 330px;
      width: 100%;
      .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        text-align: left;
        color: #3d3d3d;
        border-bottom: 1px solid #46a358;
        padding-bottom: 11px;
        margin-bottom: 11px;
      }
      form {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        align-items: center;

        input {
          width: 100%;
          border: 1px solid #46a358;
          padding: 13px 9px;
          border-radius: 3px 0 0 3px;
          outline: none;
        }
        button {
          padding: 12.5px 35px;
          font-size: 15px;
          font-weight: 700;
          line-height: 16px;
          text-align: left;
          color: #fff;
          border: 1px solid #46a358;
          border-left: none;
          background: #46a358;
          border-radius: 0 3px 3px 0;
          cursor: pointer;
        }
      }
      p {
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: #3d3d3d;
        margin-bottom: 15px;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          font-size: 18px;
          font-weight: 600;
          line-height: 16px;
          text-align: right;
          color: #3d3d3d;
        }
      }
      .total {
        margin-top: 30px;
        h4 {
          font-size: 16px;
          font-weight: 700;
          line-height: 16px;
          text-align: left;
          color: #3d3d3d;
        }
        span {
          font-size: 18px;
          font-weight: 700;
          line-height: 16px;
          text-align: right;
          color: #46a358;
        }
      }
      .check {
        width: 100%;
        padding: 12px;
        text-align: center;
        border: none;
        background: #46a358;
        font-size: 15px;
        font-weight: 700;
        line-height: 16px;
        color: #fff;
        border-radius: 3px;
        margin-top: 30px;
        transition: 0.3s;
        cursor: pointer;
        &:active {
          transform: scale(0.9);
        }
      }
    }
    @media screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-width: 800px) {
      table {
        tr {
          width: 100% !important;
        }
      }
    }
    @media screen and (max-width: 550px) {
      table {
        width: 100%;
        tr {
          width: 100%;
          gap: 10px;
          grid-template-columns: 1fr 0.7fr 1fr 1fr 0.3fr;
          img {
            width: 50px !important;
            height: 50px !important;
          }
        }
      }
      table .cart__item td h4 {
        display: none;
      }
    }
  }
  .go__home {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 10px 20px;
    background: #46a358;
  }
}
